<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/">Courses </a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-expanded="false">
						You +_+
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/courses/create">Create course</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/me/stored/courses">Me Courses</a>
						<a class="dropdown-item" href="/me/stored/news">News Courses</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/user/create">Đăng ký</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>