<div class="mt-4 ml-4">
	<form method="POST" action="">
		<div class="form-group">
			<label for="search">Từ khoá</label>
			<input type="text" name="q" class="form-control col-6" id="search" 
				placeholder="Nhập từ khoá...">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>