<form action="/user/logup" method="POST" class="container mt-4 col-6" enctype="multipart/form-data" autocomplete="off">
	<div class="text-center">
		<h1 class="heading display-3">Đăng ký tài khoản </h1>
	</div>
	<div class="form-group">
		<label for="fullname">Username</label>
		<input type="text" class="form-control" id="fullname" name="fullname">
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" name="email">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" name="password">
	</div>
	<div class="form-group">
		<label for="avatar">Confirm Password</label>
		<input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
	</div>
	<button class="form-submit btn btn-primary">Đăng ký</button>

</form>