<form action="/user/logup" method="POST" class='form container col-6' id="form-1" autocomplete="off">
	<div class="text-center">
		<h1 class="heading display-3">Đăng ký tài khoản </h1>
	</div>
	<div class="form-group ">
		<label for="fullname" class="form-label">Tên đầy đủ</label>
		<input class="form-control" type="text" name="fullname" id="fullname" placeholder="VD: Văn Hậu">
		<span class="form-message "></span>
	</div>
	<div class="form-group">
		<label for="email" class="form-label">Email</label>
		<input class="form-control" type="email" name="email" id="email" placeholder="VD: email@gmail.com">
		<span class="form-message"></span>
	</div>
	<div class="form-group">
		<label for="password" class="form-label">Mật khẩu</label>
		<input class="form-control" type="password" name="password" id="password" placeholder="Nhập mật khẩu">
		<span class="form-message"></span>
	</div>
	</div>
	<div class="form-group">
		<label for="avatar" class="form-label">Ảnh đại diện</label>
		<input class="form-control" type="file" name="avatar" id="avatar">
		<span class="form-message"></span>
	</div>
	<button class="form-submit btn btn-primary">Đăng ký</button>

</form>